body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.existingusers {
    list-style: none;
}

    .existingusers li {
        background-color: #e4e4e4;
        border: 1px solid #aaa;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
        color: #333;
    }

        .existingusers li a {
            text-decoration: none;
            color: #999;
        }

/*Aurora Styling*/
.navbar-inverse {
    background-color: #dddae0;
    border: none;
}

a.glyphicon, a.glyphicon:hover, a.glyphicon:focus {
    text-decoration: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #ba8a85;
}

#scroll {
    height: 500px;
    overflow-y: scroll;
}

#dialog {
    display: none;
}
.ui-dialog .ui-dialog-title {
    color: #ba8a85;
}
.success-dialog {
}
button,
a.btn {
    min-width: 130px;
    margin-bottom: 15px;
    background-color: #3c8dbc;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    cursor: pointer;
}

input[type="file"] {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.file-btn {
    position: relative;
}

    .file-btn input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
    display: none;
}

.upload-demo.ready .upload-demo-wrap {
    display: block;
}

.upload-demo.ready .upload-result {
    display: inline-block;
}

.upload-demo-wrap {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.upload-container {
    text-align: center;
    /*padding: 50px;*/
    font-size: 22px;
    color: #aaa;
    width: 100%;
    height: 300px;
    /*margin: 50px auto;*/
    border: 1px solid #aaa;
}

.upload-container-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.orig-overlay {
    background: white;
    border: 1px solid #ccc;
}

.upload-container-overlay > span {
    font-size: 25px;
    color: #8b8b8b;
    line-height: 300px;
}

.upload-container-overlay img {
    width: 200px;
    margin-top: 50px;
}