<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mlalim</title>
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="~/content/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Gritter -->
    <link href="~/content/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <!--<link href="~/Content/select2.min.css" rel="stylesheet" type="text/css" />-->
    <link href="~/Content/css/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="~/Content/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/animate.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/content/css/style.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="~/Content/img/profile_small.jpg" />
                            </span>
                        </div>
                        <div class="logo-element">
                            <span>
                                <img alt="image" class="img-circle" src="~/Content/img/profile_small.jpg" />
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="http://localhost:22893/Products"><i class="fa fa-area-chart"></i> <span class="nav-label">Product</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user-md"></i> <span class="nav-label">Admins</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Users</span></a>
                    </li>
                </ul>

            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content">
                        @RenderBody()
                    </div>
                    <div class="footer">
                        <div class="pull-right">
                            10GB of <strong>250GB</strong> Free.
                        </div>
                        <div>
                            <strong>Copyright</strong> Example Company &copy; 2014-2017
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/content/js/jquery-2.1.1.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Flot -->
    <script src="~/content/js/plugins/flot/jquery.flot.js"></script>
    <script src="~/content/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/content/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="~/content/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/content/js/plugins/flot/jquery.flot.pie.js"></script>
    <!-- Peity -->
    <script src="~/content/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/content/js/demo/peity-demo.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/content/js/inspinia.js"></script>
    <script src="~/content/js/plugins/pace/pace.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/content/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- GITTER -->
    <script src="~/content/js/plugins/gritter/jquery.gritter.min.js"></script>
    <!-- Sparkline -->
    <script src="~/content/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- Sparkline demo data  -->
    <script src="~/content/js/demo/sparkline-demo.js"></script>
    <!-- ChartJS-->
    <script src="~/content/js/plugins/chartJs/Chart.min.js"></script>
    <!-- Toastr -->
    <script src="~/content/js/plugins/toastr/toastr.min.js"></script>
    <!-- Select2 -->
    <script src="~/content/js/plugins/select2/select2.full.min.js"></script>
    <script src="~/content/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/content/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/content/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/content/js/plugins/aws-sdk-js-master/dist/aws-sdk.min.js"></script>
    <script src="~/content/js/fileUploader.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="~/Scripts/select2.min.js"></script>*@
    <script src="~/Scripts/jquery-ui.min.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $('.DTClass').DataTable({
                "paging": true,
                "lengthChange": false,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                "searching": true,
                "ordering": true,
                "order": [[2, "desc"]],
                "info": true,
                "autoWidth": false,
                "Filter": false,
                "columnDefs": [{ "defaultContent": "-", "targets": "_all" }]
            });

            //data table filtering
            var table = $('.DTClass').DataTable();

            $(".DTClass tfoot th").each(function (i) {
                var select = $('<select><option value=""></option></select>')
                    .appendTo($(this).empty())
                    .on('change', function () {
                        table.column(i)
                            .search($(this).val())
                            .draw();
                    });

                table.column(i).data().unique().sort().each(function (d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>')
                });
            });
        });
    </script>
</body>
</html>
